@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    background-color: cornsilk;
    font-family: 'Roboto';
}

.display {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: 8rem auto auto 1fr;
}

.playerUI {
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
    height: 30rem;
    width: 30rem;
    background-color: aquamarine;
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    margin: 2rem;
}

.computerUI {
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
    height: 30rem;
    width: 30rem;
    background-color: aquamarine;
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    margin: 2rem;
}

.computerTitle {
    display: flex;
    justify-content: center;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    font-size: 2em;
    margin: 0;
}

.playerTitle {
    display: flex;
    justify-content: center;
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    font-size: 2em;
    margin: 0;
}

.computerTile:hover {
    background-color: mediumorchid;
} 

.computerShipTile {
    background-color: lightslategray;
}

.playerShipTile {
    background-color: lightslategray;
}

.computerHitTile {
    background-color: red;
}

