@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    background-color: cornsilk;
    font-family: 'Roboto';
}

.display {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: 10rem auto 1fr;
}

.playerUI {
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
    height: 30rem;
    width: 30rem;
    background-color: aquamarine;
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    margin: 2rem;
}

.computerUI {
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
    height: 30rem;
    width: 30rem;
    background-color: aquamarine;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    margin: 2rem;
}

.computerTile {
} 

.playerTile {
}

.computerTile:hover {
    background-color: mediumorchid;
} 

.computerShipTile {
    background-color: lightslategray;
}

.playerShipTile {
    background-color: lightslategray;
}


